<nav id="navbar-section" class="navbar-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <p><strong>next live stream:</strong></p>
        <ul class="list-inline">
          <li><div>03</div>days</li>
          <li><div>04</div>hours</li>
          <li><div>58</div>min</li>
          <li><div>19</div>sec</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <a href="#" class="btn btn-default" disabled="">Watch Now</a>
        <a href="#collapseDrawer"  role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDrawer" class="btn btn-link">See Schedule <i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
  <div class="navbar-drawer collapse" id="collapseDrawer">
    <div class="container-fluid">
      <ul class="list-inline list-schedule">
        <li><strong>SATURDAY 3/26:</strong></li>
        <li>4:30pm ET</li>
        <li>6:15pm ET</li>
        <li class="space"></li>
        <li><strong>SUNDAY 3/27:</strong></li>
        <li>8:30am ET</li>
        <li>10:05am ET</li>
        <li>11:55am ET</li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-wrapper jumbotron-big">
      <div class="block-content">
        <p class="text-center soft"><big>Background Image</big></p>
        <hr class="spacer spacer-sm">
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="block-content text-center">
            <h1>crossroads anywhere</h1>
            <p>Et possimus voluptas atque eos. Commodi eligendi nostrum cumque. Fugiat quae reprehenderit molestias et nihil facere.</p>
            <ul class="social list-inline text-center">
              <li><a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i><span class="sr-only">Twitter</span></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i><span class="sr-only">Facebook</span></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i><span class="sr-only">Instagram</span></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-youtube-play fa-2x"></i><span class="sr-only">YouTube</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-section">
  <div class="container">
    <div class="block-content">
      <hr class="spacer spacer-sm">
      <p class="text-center soft"><big>Background Image</big></p>
      <hr class="spacer spacer-lg">
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="block-content">
          <h2><a href="c4-content-hub-series.html">current series</a></h2>
          <p>Non repellendus quia sed hic perspiciatis assumenda. odit ducimus aut repudiandae a repudiandae consequatur qui reprehenderit nemo et ut vitae. officiis modi et dolorem ab rerum et commodi. nesciunt et consequatur facilis consequatur qui exercitationem earum tempore sed voluptatibus optio at in porro. a eligendi quis saepe rerum nostrum saepe dolores sapiente sapiente.</p>
          <p><a href="#" data-toggle="modal" data-target="#modal-fullscreen-video" class="btn btn-primary">Watch Trailer</a></p>
        </div>
        <div class="block-content">
          <h3>past weekends</h3>
    <div class="media">
      <div class="media-left">
        <div >
          <a href="c5-content-hub-weekend.html">
            <img class="media-object" src="http://placehold.it/100x70&text=Image" alt="FPO">
          </a>
        </div>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><a href="c5-content-hub-weekend.html">Weekend Theme</a></h5>
        <p>
          Voluptas deserunt sapiente omnis quia commodi repellendus culpa cumque ipsam et. Delectus aspernatur cumque blanditiis omnis ut iusto porro assumenda nulla nemo assumenda magnam facere.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <div >

          <a href="c5-content-hub-weekend.html">
            <img class="media-object" src="http://placehold.it/100x70&text=Image" alt="FPO">
          </a>
        </div>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><a href="c5-content-hub-weekend.html">Weekend Theme</a></h5>
        <p>
          Voluptatum non aut et qui aperiam porro corrupti. Qui sequi id eum.
        </p>
      </div>
    </div>

        </div>
      </div>
      <div class="col-sm-5">
        <div class="block-content">
          <div class="well">
            <h3>live stream schedule</h3>
            <hr class="spacer spacer-xs">
            <table class="table">
              <thead class="sr-only">
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SATURDAY 3/26</td>
                  <td>4:30pm ET<br>6:15pm ET</td>
                  <td><span class="soft">Watch Now</span></td>
                </tr>
                <tr>
                  <td>SUNDAY 3/26</td>
                  <td>8:30am ET<br>10:05am ET<br>11:55am ET</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <span class="quiet">Repudiandae quis maxime odio ut facere repellendus veniam iusto quas qui beatae odio culpa et. A eos incidunt eum qui sunt vitae. Omnis nesciunt cupiditate a ea deserunt enim molestiae dolorum.</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-section">
  <div class="container">
    <div class="block-content">
      <hr class="spacer spacer-md">
      <p class="text-center soft"><big>Map/Image</big></p>
      <hr class="spacer spacer-md">
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="block-content">
          <h2>a global community</h2>
          <p>A dolores quia debitis. Architecto doloremque qui illo accusantium fuga laborum enim autem provident est reiciendis repudiandae molestiae sunt. Quia dignissimos id soluta tempore facere error.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta block-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>be a part of this</h2>
        <p>Laudantium quia officiis voluptas labore sint maiores odit laudantium. sapiente sit eveniet maiores quasi voluptas enim dolores unde. temporibus commodi nulla sed labore natus vero ex sint qui eius amet et nesciunt suscipit. officia animi nam ut omnis sit earum facilis incidunt cum dolor sit et officia cupiditate.</p>
        <div class="block-content">
          <p>
            <a class="btn btn-primary btn-lg" href="k-sign-up.html">Sign Up</a>
          </p>
          <p>
            <a href="j1-sign-in.html">or Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
